.circle img {
    display: grid;
    grid-gap: 5px;
    border-radius: 50%; /* Makes the image circular */
    /
}
.Dale {
    max-width: 100%; /* Ensures the image scales properly */
    max-height: 100%; /* Keeps the image within the viewport */
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust as needed */
    grid-gap: 10px; /* Space between grid items */
    justify-content: center; /* Horizontal centering */
    align-items: stretch; /* Vertical centering */
    height: 100vh; /* Ensure enough height for vertical centering */
    *grid-template-areas:
      ""
   }
  
.grid-item {
    background-color: lightblue;
    padding: 20px;
    gap: 10px;
    text-align: center;
    justify-content: center;
    border: 2cap solid #ddd;
  }
 
  @media screen and (min-width: 500px) {
    .grid-container{
      grid-template-areas: 
                  "circles"
                  "name-job number"
                  "name-job number"
      }
    /* Your CSS styles for screens 500px or larger */
}

  @media screen and (min-width: 768px) {
  }
  
  
