.container {
  display: flex;
  flex-direction: ;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  max-width: 900px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-job, .number-company {
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  font-size: 1.4em;
}

.job, .phone, .company {
  font-size: 1.1em;
}

@media (min-width: 599px)  {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .image {
    margin-bottom: 10px;
  }
  .info {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .name-job,
  .number-country {
    margin: 0 10px;
  }
}

@media (min-width: 768px) {
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .contact-card {
      width: 90%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .profile-pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
  }

  .contact-info {
      display: flex;
      flex-direction: column;
  }

  .name-job, .number-company {
      margin-bottom: 6px;
  }
}




